* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
}

@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-50px);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@font-face {
    font-family: adventure;
    src: url(fonts/Adventure.otf) format(opentype);
}

::-webkit-scrollbar {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}

body .quadrado {
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    animation: animate 10s linear infinite;
    z-index: -1;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

body .quadrado:nth-child(0) {
    left: 70%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 1s;
}

body .quadrado:nth-child(1) {
    left: 80%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 5s;
}

body .quadrado:nth-child(2) {
    left: 76%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 2s;
}

body .quadrado:nth-child(3) {
    left: 40%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 3s;
}

body .quadrado:nth-child(4) {
    left: 27%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 10s;
}

body .quadrado:nth-child(5) {
    left: 60%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 19s;
}

body .quadrado:nth-child(6) {
    left: 50%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 18s;
}

body .quadrado:nth-child(7) {
    left: 64%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 8s;
}

body .quadrado:nth-child(8) {
    left: 78%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 38s;
}

body .quadrado:nth-child(9) {
    left: 73%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 20s;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.cabecalho .portfolio {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1.5rem;
    color: #000;
    transition: 0.2s ease-in-out;
}

.cabecalho .portfolio:hover {
    color: #0009d1;
    transform: scale(1.1);
}

.cabecalho .navegacao ul {
    display: flex;
    gap: 40px;
}

.cabecalho .navegacao ul li a {
    color: #000;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
    font-weight: bold;
}

.cabecalho .navegacao ul li a:hover {
    color: #0009d1;
    transform: scale(1.1);
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    color: #000;
    position: fixed;
    top: 60px;
    left: 120px;
    z-index: 2;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.bi-arrow-up-circle-fill {
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 10px;
    color: #000;
    z-index: 2;
    animation: jello-horizontal 1s both infinite;
    font-size: 50px;
    transition: 0.2s ease-in-out;
}

.bi-arrow-up-circle-fill:hover {
    transform: scale(1.2);
}

.home .sobre img {
    max-width: 90%;
    width: 200px;
    position: relative;
    bottom: 20px;
    /* animation: flutuar 2s linear alternate infinite; */
}

.subir {
    position: relative;
    bottom: 60px;
}

.home .sobre {
    text-align: center;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    padding: 0 30px;
    width: 400px;
    max-width: 100%;
}

.home .sobre #titulo {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: adventure, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    letter-spacing: 1rem;
}

.home .sobre #paragrafo {
    max-width: 400px;
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 0 auto 30px auto;
}

.links {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #fff;
}

.links .link {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 3rem;
    color: #000;
}

.links .link:hover {
    color: #0009d1;
    transform: scale(1.1);
}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 100px 200px 0;
    padding-top: 70px;
}

.tecnologias .container {
    background: transparent;
    position: relative;
    width: 800px;
    overflow: hidden;
    padding: 50px;
    max-width: 90%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 8rem;
}

.fa-html5 {
    color: #F06931;
}

.fa-css3-alt {
    color: #0899DD;
}

.fa-js {
    color: #EFD81D;
}

.fa-react {
    color: #2DDAFD;
}

.fa-git-alt {
    color: #F05539;
}

.tecnologias h2 {
    margin-bottom: 60px;
    font-size: 3.5rem;
    font-family: adventure, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    letter-spacing: .5rem;
}

.tecnologias .container .primeira-linha {
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
}

.tecnologias .container .primeira-linha li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.2s ease-in-out;
}

.tecnologias .container .primeira-linha li span {
    font-size: 1.7rem;
}

.tecnologias .container .segunda-linha {
    display: flex;
    gap: 60px;
}

.tecnologias .container .segunda-linha li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: 0.2s ease-in-out;
}

.tecnologias .container .segunda-linha li span {
    font-size: 1.4rem;
}

.projetos {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 10px 130px 0;
    margin-bottom: 130px;
}

.projetos h2 {
    font-family: adventure, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 8px;
    font-size: 30px;
    margin-right: 350px;
    margin-bottom: 40px;
    font-weight: normal;
}

.projetos .imagens-projetos {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 900px;
    flex-wrap: wrap;
}

.imagens-projetos .imagem {
    width: 220px;
    height: 420px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.imagens-projetos .imagem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.imagens-projetos .imagem::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.imagens-projetos .imagem::after {
    content: 'Clique aqui para acessar o site';
    position: absolute;
    top: 40%;
    left: 5px;
    z-index: 2;
    font-family: adventure, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 21px;
    font-weight: normal;
    opacity: 0;
    text-align: center;
}

.imagens-projetos .imagem:hover.imagem::before,
.imagens-projetos .imagem:hover.imagem::after {
    opacity: 1;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

input[type='checkbox'] {
    display: none;
}

.menu {
    width: 40px;
    height: 35px;
    display: none;
}

.menu .linha {
    display: block;
    background-color: black;
    width: 40px;
    height: 4px;
    position: relative;
    top: 15px;
    transition: 0.2s ease-in-out;
}

.menu .linha::before {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 8px;
    transition: 0.2s ease-in-out;
}

.menu .linha::after {
    content: '';
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    bottom: 8px;
    transition: 0.2s ease-in-out;
}

input#menu-mobile:checked~label .menu .linha {
    transform: rotate(45deg);
}

input#menu-mobile:checked~label .menu .linha::before {
    top: 0;
    transform: rotate(90deg);
}

input#menu-mobile:checked~label .menu .linha::after {
    bottom: 0;
    transform: rotate(90deg);
}

@media (width < 1300px) {

    .home {
        position: static;
        margin-top: 120px;
    }

    .tecnologias {
        align-items: center;
        margin-right: 0;
    }

    .projetos {
        align-items: center;
        margin-right: 0;
    }

    .projetos h2 {
        margin-right: 0;
    }

}

@media (max-width: 960px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 0 30px;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home img {
        position: relative;
        z-index: -1;
        margin: 50px 0;
    }

    .links {
        justify-content: center;
    }

    .cabecalho {
        padding-bottom: 90px;
    }

    .tecnologias {
        margin-top: 100px;
    }

    .projetos .imagens-projetos {

        justify-content: center;
    }
}

@media (max-width: 768px) {
    .menu {
        display: block;
    }

    input#menu-mobile:checked~ul {
        opacity: 1;
        transition: .7s ease-in-out;
        flex-direction: column;
    }

    .home {
        margin-top: 50px;
    }

    
}

@media (max-width: 500px) {

    .primeira-linha,
    .segunda-linha {
        flex-wrap: wrap;
        justify-content: center;
    }
}